# Node modules
node_modules

# Build output
dist

# OS
.DS_Store

# Tests
src/**/*.test.ts
coverage

# Environment variables
.env

# Markdown
*.md

# Git
.git
.gitignore

# Docker and Compose
Dockerfile
docker-compose.yaml

# Linting and formatting
.eslintrc.js
.prettierrc
.prettierignore

# Deployment
fly.toml
