# Node modules
node_modules

# Build output
dist

# OS
.DS_Store

# Tests
src/**/*.spec.ts
coverage

# Environment variables
.env

# Documentation
*.md

# Git-related files
.git
.gitignore

# Docker files 
Dockerfile
docker-compose.yaml

# Linting and formatting configs
.eslint.config.mjs
.prettierrc
.prettierignore

# Deployment configurations
fly.toml
